{% extends "base.html" %}

{% block header %}
{% if current_user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
	{% for view in admin_views %}
    <li class="nav-item {% if view_name==view.view_name %}active{% endif %}">
        <a class="nav-link" href="{{ url_for(view.view_name,method='edit')}}"><i class="fas fa-{{view.icon}}"></i> {{view.title}}</a>
    </li>
    {% endfor %}
    <li class="nav-item">
        <a class="nav-link" href="/"><i class="fas fa-reply"></i> Back</a>
    </li>
     </ul>
{% endif %}
{% endblock %}