<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel= "icon" media="all" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <title>{% block title %}YarraWebClient{% endblock %}</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/yarra.css">
  </head>

  <body class="d-flex flex-column h-100">
    {% from "_formhelpers.html" import render_field %}
    {% from "_formhelpers.html" import render_form %}
    {% from "_formhelpers.html" import flashes %}

    <header>
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand" href="/">
        YarraWebClient
        </a>
        {% block header %}
        {% endblock %}
        {% if current_user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item float-right">
          <a class="nav-link" href="{{ url_for('login.logout')}}"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
        </ul>
        {% endif %}
      </nav>
    </header>

    <main role="main" class="flex-shrink-0">
      <div class="container p-3">
      {% block content %}{% endblock %}
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    

    <footer class="footer mt-auto py-3">
      <div class="container mt-3 mb-4">
        <div class="row justify-content-center">        
          <p align="center" class="m-0">YarraWebClient v0.1 &minus; Part of the Yarra Framework</p>
        </div>
        <div class="row justify-content-center mt-0">        
          <a href="http://yarraframework.com" target="_blank" style="margin-top: 4px;">http://yarraframework.com</a>
        </div>       
        {% block footer %}{% endblock %}
        </div>
      </div>
    </footer>
  </body>
</html>
